.messages {
    display: flex;
    flex-direction: column;
    /* grid-template-rows: repeat(auto-fill, 80px); */
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.messagesNone {
    display: none;
}

@keyframes translateFromRight {
    from{
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes translateFromLeft {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
}

.message {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.start {
    align-self: flex-start;
    animation: translateFromLeft .5s;
}

.end {
    align-self: flex-end;
    animation: translateFromRight .5s;
}

.avatar {
    width: 50px;
}