.messages {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.messagesNone {
    display: none;
}

@keyframes translateFromRight {
    from{
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes translateFromLeft {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
}

.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.start {
    align-self: flex-start;
    animation: translateFromLeft .5s;
}

.end {
    align-self: flex-end;
    animation: translateFromRight .5s;
}

.avatar {
    width: 50px;
    margin: 10px;
}

.messageText {
    margin: 10px;
    background: #2d2d2d;
    padding: 10px;
    border-radius: 4px;
    flex-grow: 1;
    line-height: 1.5;
    word-break: break-word;
}

.messageTime {
    margin: 10px;
    font-size: 12px;
}